
<div style="padding-top:80px;margin:auto" class="row col-md-12">
        <div class="col-md-12 col-xs-12">
          <div  class="info-box col-md-6">
            
            <div class="info-box-content">
              
              <h3 class="info-box-text">{{(eventDetail | async)?.title}}</h3>
              <!--<p (click)="callServer()">{{(eventDetail | async)?.description}}</p>
              <div><small>modified: {{(eventDetail | async)?.modified}}</small><br/>-->
               <!--</div>-->

            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
         </div>